* {
  Box-sizing: Border-box;
  border-width: 0;
}

body {
  font-family: Calibri;
  overflow: hidden;
  text-align: center;
  background-color: #1b6f2f;
}

.app { padding-top: 90px; }

.image {
  width: 503px;
  height: 252px;
  margin-bottom: 40px;
}

.card {
  display: inline-block;
  width: 100px;
  height: 140px;
  margin: 10px;
}

.card img {
  width: 100px;
  height: 140px;
}

.back {
  position: absolute;
  left: 0;
  top: 0;
}

.hide {
  visibility: hidden;
}

#main,
#play,
#end { margin-bottom: 100%; }

#main { order: 1; }
#play { order: 2; }
#end { order: 3; }

.title {
  width: 219px;
  height: 38px;
  color: #DDEAE0;
  font-size: 31px;
  font-weight: bolder;
}

.play-title {
  width: 710px;
  font-size: 14px;
  font-family: monospace;
  font-weight: bold;
  color: #BFD7C4;
}

.end-text {
  width: 304px;
  height: 70px;
  margin: 20px 0 35px 0;
}

.end-text h2 {
  color: #DDEAE0;
  font-size: 28px;
  font-weight: bolder;
}

.btn {
  width: 144px;
  height: 42px;
  background-color: #DDEAE0;
  color:#1C7430;
  border: none;
  font-size: 17px;
  font-weight: bolder;
  font-family: Helvetica;
}

span#restart-game {
  cursor: pointer;
  border-radius: 5px;
  padding: 0 5px;
}

span#restart-game:hover {
  background-color: darkgreen;
}

span.board {
  padding: 0 5px;
}

#veil {
  z-index: 10000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
